name: CD - Deploy to Kubernetes

on:
  workflow_run:
    workflows: ["Advanced DevSecOps CI/CD Pipeline"]
    types:
      - completed

jobs:
  deploy:
    name: Deploy to Kubernetes Cluster
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'v1.29.0'

      - name: Configure Kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config
          chmod 600 ~/.kube/config

      - name: Replace DockerHub Username in Deployment
        run: |
          sed -i "s|<DOCKERHUB_USERNAME>|${{ secrets.DOCKERHUB_USERNAME }}|g" k8s/deployment.yaml

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml

      - name: Verify Deployment
        run: |
          kubectl get pods
          kubectl get svc
          kubectl rollout status deployment/devsecops-app --timeout=2m

      - name: Run Dummy DAST Scan
        uses: zaproxy/action-baseline@v0.9.0
        with:
          target: http://localhost
        continue-on-error: true
